<% @propositiona.each do |proposition| %>

<p>
  <strong>Resumen de la etapa:</strong>
  <%= proposition.vpd %>
  <%= link_to "Descargar Resumen de la Etapa", proposition.vpd.url %>
</p>

<p>
  <strong>Video pitch:</strong>
  <%= proposition.video_pitch %>
</p>



<%= link_to 'Edit', edit_proposition_path(proposition) %> |


<% end %>