<%= render 'breadcrum' %>

<h1>Prototipado</h1>
<div id="textos">
<h4 class="red upper">1.-</h4> <h3>Definición del Producto Mínimo Viable</h3>
<p>
	Para la definición del Producto Mínimo Viable (PMV) deben utilizar la herramienta “Definición de MVP”. <br><br>

<%= link_to "Descargar herramienta Definición de MVP", '/pmv.pdf', class: "button button_red" %> <br> <br>

Lo primero que deben tener claro son los beneficios y diferenciadores que el producto/servicio/proceso va a aportar al usuario. Estos deberán obtenerlos del proceso anterior y la definición de la propuesta de valor. <br><br>

Una vez que tengan plasmados los beneficios y diferenciadores, hay que convertirlos en funcionalidades. Puede ser que un beneficio/diferenciador quede cumplido con una o varias funcionalidades. Sin embargo, es importante que busquen satisfacer la mayor cantidad de beneficios/diferenciadores con la menor cantidad de funcionalidades, esto hará que el resultado sea sencillo y no complejo. <br><br> 

Ya que estén definidas de manera clara las funcionalidades, deberán hacer un breve análisis de cómo eso impactará económicamente: ya sea que traiga ahorros, aumento de precio, etc.  <br><br>

Finalmente, deberán escribir, en una frase, la descripción de su PMV. Por ejemplo: una aplicación en la que puedes ver la agenda y guardar los eventos en tu celular, los conferencistas y acceder a sus redes sociales, tener encuestas en vivo y desplegar un mapa del evento e interactuar con él. <br><br>


</p>

<h4 class="red upper">2.-</h4> <h3>Planeación para el desarrollo</h3>
<p>
Para planear, conviene que hagan una lista de actividades que deban desarrollar. Posteriormente, deberán generar un diagrama de Gantt para dejar visualmente las actividades con tiempos.	
</p>

<h4 class="red upper">3.-</h4> <h3>Desarrollo del prototipo funcional y validación</h3>
<p>

En este paso del proyecto, deben comenzar con el desarrollo de su prototipo funcional. ¿Qué es lo que van a prototipar? El PMV. Es importante que se centren en el desarrollo del PMV y no en algo más complejo, esto para facilitar las pruebas posteriores que se tendrán en la implementación. En caso de ser exitoso, podrá irse ajustando y evolucionando para ser un producto más complejo. <br><br>

Poco a poco, mientras vayan desarrollando, es importante que vayan haciendo validaciones conceptuales, de diseño y de funcionamiento para ajustarse a lo que verdaderamente aporta valor en la práctica. <br><br>
	

</p>

<h4 class="red upper">4.-</h4> <h3>Documento de resumen</h3>
<p>

Deben desarrollar un documento de resumen que sirva como evidencia de todo el proceso que han pasado en este proyecto. Es importante que documenten desde el primer paso hasta el último para que sirva como referencia para futuros proyectos.  <br><br>
Es recomendable, si lo consideran prudente, que también profundicen en los números. Desarrollen (o consigan quién lo desarrolle) un análisis, sencillo pero contundente, de los impactos que traerá implementar este proyecto. <br><br>
	

</p>

<h4 class="red upper">5.-</h4> <h3>Pitch final</h3>
<p>Para la presentación final del proyecto, es importante que lo hagan a través de un video (como el que utilizaron al final de la etapa anterior) y estén preparados para una presentación presencial. <br><br> 

El video y la presentación presencial debe contener a alguno de los participantes del equipo explicando el proceso completo del proyecto: <br> <br>
1.- El problema que están solucionando.  <br> <br>
2.- El reto de innovación planteado. <br> <br>
3.-Quién es el usuario y, si son distintos, quién es el cliente. <br> <br>
4.- Cuántos competidores relevantes hay en el mercado y de cuáles deberían preocuparse. <br> <br>
5.- Su propuesta de valor. <br> <br>
6.- Sus ventajas competitivas diferenciadoras frente a las otras propuestas en el mundo. <br> <br>
7.- Su prototipo funcional <br> <br>
8.- Retos de implementación <br> <br>
9.- Logros de implementación  <br> <br>
10.- Retroalimentación en las validaciones <br> <br>
11.- ¿Hubieron ajustes?  <br> <br>
12.- Por qué implementar este proyecto. Qué beneficios le traerá a BROSE desarrollar este proyecto que están proponiendo. <br> <br>
</p>



<br><br><br>

</div>

<h4 class="red center upper">¿Qué hay que entregar?</h4>
<hr>

<% if current_team.admin? %>
<% else %>
	<% if current_team.prototypes.present? %>
		<%= render 'prototypes' %>		
	<% else %>
		<%= render '../views/prototypes/form' %>
	<% end %>
<% end %>