<%= render 'breadcrum' %>

<h1>Prototipado</h1>

<h4 class="red upper">1.-</h4> <h3>Propuesta de valor evolucionada</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui temporibus dolore eaque ratione nisi, veniam quae similique aperiam, nulla repudiandae aspernatur vero. Minima inventore molestiae eos dolor, similique architecto porro.</p>

<h4 class="red upper">2.-</h4> <h3>Clarificación de funcionalidades clave</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, natus impedit ducimus inventore, nobis modi labore officiis! Nostrum in tenetur distinctio tempora consequatur pariatur quaerat, ex, ad esse, est cupiditate!</p>

<h4 class="red upper">3.-</h4> <h3>Planificación de actividades para elaborar prototipo</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse blanditiis, numquam, fuga nemo aperiam magni sequi, ipsam ullam facere velit laboriosam quaerat sed. Maiores placeat omnis, quam possimus facilis veritatis!</p>

<h4 class="red upper">4.-</h4> <h3>Ejercicio de validación de prototipo</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse blanditiis, numquam, fuga nemo aperiam magni sequi, ipsam ullam facere velit laboriosam quaerat sed. Maiores placeat omnis, quam possimus facilis veritatis!</p>

<h4 class="red upper">5.-</h4> <h3>Documento resumen</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse blanditiis, numquam, fuga nemo aperiam magni sequi, ipsam ullam facere velit laboriosam quaerat sed. Maiores placeat omnis, quam possimus facilis veritatis!</p>

<h4 class="red upper">6.-</h4> <h3>Presentación final</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse blanditiis, numquam, fuga nemo aperiam magni sequi, ipsam ullam facere velit laboriosam quaerat sed. Maiores placeat omnis, quam possimus facilis veritatis!</p>

<br><br><br>

<h4 class="red center upper">¿Qué hay que entregar?</h4>
<hr>

<% if current_team.admin? %>
<% else %>
	<% if current_team.prototypes.present? %>
		<%= render 'prototypes' %>		
	<% else %>
		<%= render '../views/prototypes/form' %>
	<% end %>
<% end %>