<h1>CARTA DE CONFIDENCIALIDAD</h1>
<h4 class="center">El Marqués, Qro., 16 de Enero 2017</h4>

<h4>B.S.M. S.A. DE C.V. <br>

P R E S E N T E.</h4>


<p>
	Por medio de la presente, comunico a ustedes que estoy prevenido y enterado de que por razón del trabajo

y la capacitación recibida, derivado del contrato de trabajo que celebré con la Empresa en mi calidad de

“Puesto” recibo información confidencial cuyo acceso es restringido en relación tanto a los productos que

se elaboran como a los métodos y proceso de producción, así como a los medios, tecnología, sistemas

administrativos, de manejo de personal y formas de distribución y comercialización de dichos productos, así

como también tengo acceso a bases de datos personales y datos personales sensibles de personas que

tienen algún tipo de relación con la Empresa, la que en lo sucesivo se le denominará “INFORMACIÓN

CONFIDENCIAL”. </p>

<p>

“INFORMACIÓN CONFIDENCIAL”, significa alguna o toda la información confidencial o no-publica

desarrollada o adquirida por la Empresa o cualquiera de sus compañías matrices, afiliadas, asociadas, etc.,

que no haya sido específicamente autorizada para ser revelada. Tal “INFORMACIÓN CONFIDENCIAL”

deberá incluir de manera enunciativa mas no limitativa diseño de ingeniería y de productos, investigación y

desarrollo, tecnología de producción, procesos de control de calidad, mejoras, procesos, tecnología,

software, planes de negocio o de desarrollo de productos, formulas, know-how, patentes, derecho de

patentes, derechos de autor e información recibida de terceras partes sujetas a obligaciones de no-

divulgación y no-uso, y todos los derechos de La Empresa de propiedad intelectual y de patentes

(incluyendo sin limitación derechos de Propiedad Industrial).

</p>

<p>

Asimismo, se considera como “INFORMACIÓN CONFIDENCIAL” todos aquellos datos personales o

información referente a cualquier persona identificada o identificable a los cuales tengo acceso en función

del puesto que desempeño, así como también todos aquellos datos que sean considerados como sensibles

de acuerdo con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.

Considerando que la “INFORMACIÓN CONFIDENCIAL” constituye secretos industriales, por este medio y

con base en la Ley de la Propiedad Industrial y en la Ley Federal de Protección de Datos Personales en

Posesión de los Particulares manifiesto:

</p>

<p>

QUE ME OBLIGO A MANTENER EN FORMA ESTRICTAMENTE CONFIDENCIAL “LA

INFORMACIÓN CONFIDENCIAL” RECIBIDA DE LA EMPRESA, ABSTENIÉNDOME DE REVELAR

SIN CAUSA JUSTIFICADA O SIN PREVIA AUTORIZACIÓN POR ESCRITO DE LA EMPRESA, DE

LO CONTRARIO ME HARÉ RESPONSABLE DE LOS DAÑOS Y PERJUICIOS QUE SE PUDIERAN

OCASIONAR POR EL INCUMPLIMIENTO DE ESTA OBLIGACIÓN.

QUE EN RELACIÓN A LOS DATOS PERSONALES A LOS CUALES TENGA ACCESO, ME OBLIGO

A MANTENERLOS EN FORMA ESTRICTAMENTE CONFIDENCIAL Y QUE ESTOY ENTERADO DE

LAS SANCIONES Y DELITOS EN QUE INCURRO POR LA REVELACIÓN DE LOS DATOS

PERSONALES A LOS QUE TENGO ACCESO.

</p>

<p>

QUE ESTOY CONSCIENTE DE QUE EL USO NO AUTORIZADO DE LA PUBLICACIÓN O DE LA

REVELACIÓN DE LA INFORMACIÓN CONFIDENCIAL PUEDE CAUSAR UN DAÑO SERIO E

IRREPARABLE A LA EMPRESA Y QUE LA EMPRESA PODRÁ EJERCITAR LAS ACCIONES

LEGALES CORRESPONDIENTES PARA PROTEGER SUS INTERESES EN CASO DE

INCUMPLIMIENTO.

</p>

<p>

2

QUE ESTOY ENTERADO DE LA RESPONSABILIDAD PENAL EN QUE INCURRO POR LA

REVELACIÓN DE LA MISMA CON TODAS LAS CONSECUENCIAS INHERENTES A ELLA, ASÍ

COMO TAMBIÉN SE QUE ES CAUSA DE RESCISIÓN DE MI RELACIÓN LABORAL.

LO ANTERIOR CON FUNDAMENTO EN LA LEY DE LA PROPIEDAD INDUSTRIAL, LA LEY FEDERAL

DE PROTECCIÓN DE DATOS PERSONALES EN POSESIÓN DE LOS PARTICULARES Y EN LO

ESTABLECIDO EN EL ARTÍCULO 47 FRACCIÓN IX DE LA LEY FEDERAL DEL TRABAJO.

Por último, si por cualquier circunstancia terminara mi relación laboral con la Empresa, continuaré

manteniendo en forma estrictamente confidencial la “INFORMACIÓN CONFIDENCIAL” y me abstendré de

revelarla a cualquier tercero, conociendo las penas y consecuencias que implicaría la violación de esta

información confidencial.

</p>

<p>

La presente Carta de Confidencialidad, es producto de la buena fe y la intención mutua de colaboración de

los suscribientes, por lo que realizarán sus mejores esfuerzos para su cumplimiento, se someten en su caso

expresamente a la jurisdicción y competencia de los tribunales de la ciudad de Santiago de Querétaro,

Querétaro, renunciando al fuero que por razón de sus domicilio presentes o futuros que pudieran

corresponderles.
</p>
